
<div>
    <nav class="navbar">
        <div class = "logo">
            <%= link_to "Chatweb",root_path,class: "href" %>
        </div>
        <div class="sidebutton">
            <div class = "line1"></div>
            <div class = "line2"></div>
            <div class = "line3"></div>
        </div>
    </nav>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', function(event) {
        var target = event.target;
        event.preventDefault();
        });
    });
</script>